.courses-section {
  padding: 60px 8%;
  background: #f5f6fa;
  text-align: center;
}

.courses-title {
  font-size: 40px;
  margin-bottom: 50px;
}

.courses-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.course-card {
  background: white;
  width: 400px;
  padding: 30px;
  transition: 0.3s ease;
}


.course-card img {
  width: 350px;
  height: 200px;
  margin-bottom: 20px;
}

.course-card h2 {
  margin-bottom: 15px;
}

.course-card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 25px;
}

.course-card button {
  padding: 12px 25px;
  border-radius: 30px;
  border: none;
  background: #2e36d3;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.course-card button:hover {
  background: #1f26a8;
  transform: translateY(-5px);

}


/* next css */
/* Main container */

.Module-Products-Container {
  text-align: center;
  font-size: 58px;
  padding-top: 100px;
}


.product-container-box {
  display: grid;
  padding:  30px 60px 60px 60px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.12);
}

.product-card img {
  border: 2px solid #e5e7eb;
  width: 100%;
  height: 300px;
  object-fit: inherit;
  border-radius: 8px;
  margin-bottom: 15px;
}

/* Module title */
.Moduletitle {
  font-size: 25px;
  text-align: center;
  font-weight: 600;
  color: #111827;
}

.ModuleTitalPrice {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 5px;
}

.Moduletitle-Realprice {
  text-align: center;
  font-size: 15px;
  color: #9CA3AF;
  text-decoration: line-through;
  margin-top: 5px;
}

.Moduletitle-Discountprice {
  text-align: center;
  font-size: 18px;
  color: #16A34A;
  font-weight: bold;
  margin-top: 5px;
}

/* Buy Button */
.product-container-box-button {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: auto;
}

.Product-container-button {
  width: fit-content;
  margin-top: 15px;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 100;
  background: linear-gradient(50deg, #066d84, #0a93b2);
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.Product-container-button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}