.contact-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 10%;
  gap: 40px;
  background-color: #f5f9fb;
}

/* LEFT SIDE */
.contact-left {
  flex: 1;
}

.contact-container {
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
}

.contact-container h2 {
  margin-bottom: 20px;
}

.contact-container input,
.contact-container textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

.contact-container textarea {
  height: 120px;
  resize: none;
}

.contact-container button {
  width: 100%;
  padding: 12px;
  background-color: #066d84;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

.contact-container button:hover {
  background-color: #044c5d;
}

/* RIGHT SIDE */
.contact-right {
  flex: 1;
  text-align: center;
}

.contact-right h2 {
  margin-bottom: 25px;
  font-weight: 100;
  text-align: left;
  font-size: 22px;
  line-height: 1.4;
}

.image-frame {
  width: 100%;
  height: 300px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #fff;
}

.image-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.success {
  color: green;
  margin-bottom: 10px;
  font-weight: 500;
}

.error {
  color: red;
  margin-bottom: 10px;
  font-weight: 500;
}



@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
  }
}
